@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.bienvenue{
    position: absolute;
    top: 40vh;
    left: 40vw;
    color: white;
    font-size: 6rem;
    font-family:'Montserrat' 
}

.boutonmenu{
    margin-bottom: 1.875rem;
}

.btnmenue{
    background:none;
    color: #000000;
    height: 40px;
    width: 5%;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    /* box-shadow: inset  0px 0px 10px black; */
    
}
.btnmenue:hover{
    color:#F9C784;
}
.btnmenue:focus{
    color:#F9C784;
}

.place{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.75rem;
    
}

#menu{
    padding: 0;
    margin-top: 3.125rem;
}



.epice{
    margin-top: 6rem;
}
 
.container{
    padding: 0;
}

