

.bienvenue{
    position: absolute;
    top: 40vh;
    left: 40vw;
    color: #fffdd0;
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 0 0 #000000, 1px 1px 0 #000000, 0 1px 0 #000000, -2px 1px 0 #000000, -2px 0 0 #000000, -2px -2px 0 #000000, 0 -2px 0 #000000, 1px -2px 0 #000000;
}
.boutonmenu{
    margin-bottom: 1.875rem;
    
    
}
.btnmenue{
    background-color: #fffdd0;
    height: 40px;
    width: 5%;
    margin: 0;
  
}
.place{
    display: flex;
    justify-content: space-evenly;
    
}

#menu{
    padding: 0;
}



.epice{
    margin-top: 6rem;
}
   

