@font-face {
    font-family: "Radgivare";
    src: url("/RadgivareNo1Demo_FREE_FOR_PERSONAL_USE_ONLY.otf")
   }
   @font-face {
    font-family: "RobotoM";
    src: url("/Roboto-Medium.ttf")
   }
body{
margin: 0;
}
main{
    width: 100vw;
    height: 100vh;  
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
}
#header{
display: flex;
justify-content: space-evenly;   
margin: 0;
padding: 0;
background-color: rgb(199, 185, 199);
}
#searchbar{
    width: 40vw;
    border-radius: 30px;
    height: 5vh;
}
#logo{
    font-family: 'Radgivare';
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}
#searchbutton{
    background-color: #4E598C;
    color: white;
    border-radius: 40px;
    width: 10vw;
    height: 5vh;
    font-size: 100%;
    font-family: "RobotoM";
}
#mainmenu{
    width: 90vw;
    height: 90vh;
    background-color: azure;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#choix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20%;
}
#line{
border-right: 2px solid;
width: 100%;
height: 80%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
#entr{
    width: 60%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#bois{
    width: 60%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#plat{
    width: 60%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#dess{
    width: 60%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#rightpart{
width: 80%;
height: 80%;
border-color: rgb(107, 51, 30);
margin: 0;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
overflow-y: scroll;
}
.thing{
    width: 20%;
    height: 30%;
    background-color: #FCAF58;
}
.things{
width: 20%;
height: 25%;
background-color: #FCAF58;
margin: 3%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#add{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'FontAwesome';
    background-color: #FCAF58;
    border-radius: 10px;
}
.butt{
    border-radius: 10px;
    width: 40%;
    height: 20%;
    background-color: #F9C784;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}
h2{

}
h3{
    
}
.choice{
    width: 70%;
    height: 40%;

}
.image{
    width: 65%;
    height: 35%;
    border-radius: 10px;
}
#divbelow{
    width: 100%;
    height: 10%;
    background-color: black;
}
#encircle{
    width: 25%;
    height: 30%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}